@import 'vars';

.chip {
	font-size: 1rem;
	background: $light_primary_color;
	padding: $padding / 4 $padding / 2;
	border-radius: 20px;
	display: inline-block;
}

.chip-primary {
	color: white;
	background: $primary_color;
}

.chip-accent {
	color: white;
	background: $accent_color;
}

.chip-sm {
	font-size: 0.8rem;
	padding: $padding / 4 $padding / 2;
}

.chip-md {
	font-size: 1.2rem;
	padding: $padding / 2 $padding;
}

.chip-lg {
	font-size: 1.6rem;
	padding: $padding / 2 $padding;
}
