$dark_primary_color: #303f9f;
$light_primary_color: #c5cae9;
$primary_color: #3f51b5;
$accent_color: #ff5722;
$text_icon_color: #ffffff;
$primary_text: #212121;
$secondary_text: #757575;
$divider_color: #bdbdbd;

$padding: 1rem;
$box_shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);

$break-small: 580px;
$break-medium: 768px;
$break-large: 1200px;
